#msg-board {
    top: 0;
    height: 90%;
    width: 100%;
    position: fixed;   
    overflow-y: auto;
}

#msg-board .panel {
  /*height: 96%;*/
  padding: 20px;
  box-shadow: none;
  background: transparent;
}

.msg {
  overflow-wrap: normal;
  width: 45%;
}

#msg-board .panel .alert {
  max-width: 45%;
  overflow-wrap: break-word;
}

.member-info {
  color: gray;
  margin-bottom: 15px;
}

#msg-input {      
  bottom: 0;
  width: 100%;
  position: fixed;
}

#msg-box,
#msg-form button {
  width: 100%;
  height: 50px;
}

#msg-form > div {
  padding: 0;
}

.cn-id {
  margin-right: 10px;
}

#room-tag {  
    position: fixed;
    top: 0;
    right: 0;
    height: 100px;
    z-index: -9;
    margin-right: 20px;
    color: gray;
    opacity: .6;
    font-style: italic;
}

#icons a {
  text-decoration: none;
}

#icons a > i,
#icons span > i {
  margin-left: 10px;
}

#copyright {
  float: left;
}

/*Tablet view styles*/
@media only screen and (max-width: 992px){


  
}

/*Mobile view styles*/
@media only screen and (max-width: 768px){

#msg-board .panel .alert {
    max-width: 75%;
}

#icons {
  margin-top: 10px;
}

#codename-form label {
  text-align: center;
}

#infoModal .row > div {
  text-align: center;
}

#copyright {
  float: none;
}

}